

@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

*{
    font-family: 'Cantarell';
}
body {
    
}
.navbar-brand, h2{
font-family: "Damion";
font-size: 3rem;

}
nav *{
    line-height:1.2rem;
}
nav, footer{
    background-color: #1b0b34;
    
}
.navbar-custom{
    background-color: #1b0b34 !important;
    color: #73C6D4 !important;
}
nav *, footer *{
    color: #73C6D4 !important;
    
}
.slider{
    margin-top:3rem;
}
.carousel{
    max-height:100vh;
    overflow:hidden;
}

.search {
   position:relative;
   bottom:25vh;
}
#emailHelp{
    text-align: center;
}
.bg-secondary{
    background-color:#73C6D4!important;
}
.card-title{
    font-family: 'Damion';
    font-size: 2rem;
}
#calendar{
    margin-top:5rem;
}
.navbar-nav{
    flex-direction:row;
    justify-content: flex-end;
}
.nav-item{
padding:0 1.5rem;
}
.display-4{
    text-align: center;
}
.lead {
    margin-top:2rem;
    margin-bottom:0;
}
.modal-lg{
    padding: 50px 10px;
height:100% !important;
}
.modal-dialog{
    padding:50px 10px;
    overflow:visible;
    height:80vh !important;
}
.modal-content{
    margin-top:2rem;
}
p {
    margin-bottom:.5rem;
}
.modal-content .card-body{
    padding:0;
}
.modal-content card .btn{
margin-top:1rem;
}
.modal-body {
    overflow:scroll;
}
.modal nav{
    background-color: white;
}

.eventful {
	height: 18%;
	width: 18% ;
	margin-bottom: 10px;
}

.ticketmaster {
	height: 30%;
	width: 30% ;
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}


@media screen and (max-width:800px){


}
@media screen and (max-width:500px){
    .search{
        bottom:15vh;
    }
    .display-4{
        font-size: 2rem;
        margin-bottom:0;
    }
}